<template>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">404</h2>
                    <p class="blog-post-meta"><a href="#"></a></p>
                    <div ><p>Error 404 Not Found</p></div>
                </div><!-- /.blog-post -->
            </div>
            <div class="col-md-4 blog-main">
                <ds-aside 
                    :url_data="urls" 
                    title="Project"
                    url="/category/project/id/"
                    ></ds-aside>
            </div>

        </div><!-- /.row -->

    </main><!-- /.container -->


</template>
<script>

    export default {
        data() {
            return {
                
                urls: null
            };
        },
        methods: {
            get_data() {
                
                    this.$http.all([
                        this.$http.get('https://dashboard.projetotanguro.org/datset/get/?info=' +
                                 'project'+
                                '&key=tangurodarroteste')
                    ]).then(this.$http.spread(function (res ) {

                                this.urls = res.data.dad

                    }.bind(this)));
                    //

                },
                
            
        },
        mounted() {
            this.get_data()
           
        },
        watch: {
            $route(to, from) {
                this.get_data()
           
            }

        }

    }
</script>



