<template>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">{{name_s}}</h2>
                    <p class="blog-post-meta">{{name}}<a href="#"></a></p>
                    <div v-html="text"></div>



                    <div v-if="$route.params.info == 'dataset'">
                        <a class="btn btn-outline-primary" 
                           :href="'https://dashboard.projetotanguro.org/datset/download/'+$route.params.id">Download</a>
                        <hr/>
                        <h3>Metadata</h3>
                        <table class="table">
                            <caption>List of users</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Name of column</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for='d in metadata'>
                                    <th scope="row">{{d.name}}</th>
                                    <td>{{d.unity}}</td>
                                    <td>{{d.obs}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div><!-- /.blog-post -->
            </div>
            <aside class="col-md-3 blog-sidebar">

                <ds-menu title='Research Projects' data="https://dashboard.projetotanguro.org/datset/menu_dataset?key=tangurodarroteste" > </ds-menu>
                <!-- s-menu title='More' data="https://dashboard.projetotanguro.org/datset/menu_url?key=tangurodarroteste" > </ds-menu-->

            </aside>


        </div><!-- /.row -->

    </main><!-- /.container -->


</template>
<script>

    export default {
        props: ['info', 'id'],
        data() {
            return {
                type: {
                    'dataset': {
                        'name': 'Dataset',
                        'url': '/category/dataset/id/'
                    },
                    'research': {
                        'name': 'Dataset',
                        'url': '/category/dataset/id/'
                    },
                    'project': {
                        'name': 'Research',
                        'url': '/category/research/id/'
                    }
                },
                name: null,
                name_s: null,
                text: null,
                urls: null,
                metadata: null,
                project_id: null,
                research_id: null

            };
        },
        methods: {
            get_data() {
                if (this.get_id()) {

                    this.$http
                            .get('https://dashboard.projetotanguro.org/datset/get/?info=' +
                                    this.get_info() + '&id=' +
                                    this.get_id() + '&key=tangurodarroteste')
                            .then(function (res) {
                                var tmp = res.data
                                if (tmp.dad[0].metadata) {
                                    this.metadata = tmp.dad[0].metadata
                                }
                                if (tmp.old) {
                                    if (tmp.old.project_id) {
                                        this.project_id = tmp.old.project_id
                                    }
                                    if (tmp.old.research_id) {
                                        this.research_id = tmp.old.research_id
                                    }
                                }

                                this.name = tmp.dad[0].name
                                if (tmp.dad[0].short_name != '') {

                                    this.name_s = tmp.dad[0].short_name
                                } else {

                                    this.name_s = tmp.dad[0].name
                                }

                                this.text = tmp.dad[0].description
                                this.urls = tmp.son




                            }.bind(this));

                } else {

                    this.$http.all([
                        this.$http.get('https://dashboard.projetotanguro.org/datset/get/?info=' +
                                this.get_info() +
                                '&key=tangurodarroteste'),
                        this.$http.get('https://dashboard.projetotanguro.org/page/getpage/3' +
                                '?key=tangurodarroteste')
                    ]).then(this.$http.spread(function (res, res2, ) {

                        this.name = res2.data.name,
                                this.name_s = res2.data.name,
                                this.text = res2.data.text,
                                this.urls = res.data.dad

                    }.bind(this)));
                    //

                }


            },
            get_info() {
                if (this.info) {
                    return  this.info;
                } else {
                    return this.$route.params.info;
                }
            },
            get_id() {
                if (this.id) {

                    return  this.id;
                }
                if (this.$route.params.id != '') {
                    return this.$route.params.id;





                } else {

                    return false
                }
            },
            set_home() {
                if (this.$route.path === '/') {
                    this.type['project'] = {
                        'name': 'Project',
                        'url': '/category/project/id/'
                    }

                } else {

                    this.type['project'] = {
                        'name': 'Research',
                        'url': '/category/research/id/'
                    }
                }
            }
        },
        mounted() {
            this.get_data()
            this.set_home()

                    ;
        },
        watch: {
            $route(to, from) {
                this.get_data()
                this.set_home()

            }


        }

    }
</script>



