<template>
    <aside class="col-md-12 blog-sidebar">
        <div v-if="text" class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">{{title}}</h4>
            <p class="mb-0">{{text}}</p>
        </div>

        <div v-if="url" class="p-3">
            
            <h4 class="font-italic">{{title}}</h4>
            <ol class="list-unstyled mb-0">
                <li v-for="tpmurl in urls">

                    <a v-if='/(http(s?)):\/\//gi.test(_url(tpmurl.id))' :href="_url(tpmurl.id)">{{tpmurl.short_name}}</a>
                <router-link v-else :to="_url(tpmurl.id)" :key="_url(tpmurl.id)">{{tpmurl.short_name}}</router-link>
                </li>

            </ol>
        </div>
    </aside><!-- /.blog-sidebar -->

</template>
<script>

    export default {
        props: ['title', 'info', 'id', 'url', 'text', 'url_data'],
        data() {
            return {
                urls: null
            };
        },
        methods: {
            _url: function (plus) {
                if (this.url) {
                    return this.url + plus;
                }
            },
            get_menu() {
                if (this.info) {
                    if (this.id) {
                        this.$http
                                .get('https://dashboard.projetotanguro.org/datset/get/?info=' +
                                        this.info + '&id=' + this.id + '&key=tangurodarroteste')
                                .then(response => (this.urls = response.data.dad));

                    } else {
                        this.$http
                                .get('https://dashboard.projetotanguro.org/datset/get/?info=' +
                                        this.info + '&key=tangurodarroteste')
                                .then(response => (this.urls = response.data.dad));
                    }
                } else {
                    
                    if (this.url_data) {
                        this.urls = this.url_data
                    }
                    
                }

            }
        },
        mounted() {
            this.get_menu()
            
        },
        watch: {
            $route(to, from) {
                this.get_menu()
                
            },
            id(to,from){
                this.get_menu()
            },
            url_data(to,from){
                this.get_menu()        
            }
        }


    }
</script>



