<template>
    <b-nav-item-dropdown

        :text="title"
        extra-toggle-classes="nav-link-custom"
        right
        >
        <b-dropdown-item v-for="l1 in urls" :href="l1.url" target="_blank" >{{l1.name}}</b-dropdown-item>
       
    </b-nav-item-dropdown>
</template>
<script>
    export default {
        props: ['title', 'data'],
        data() {
            return {

                urls: null,
                block: false
            };
        },
        methods: {
        },
        mounted() {
            this.$http.get(this.data)
                    .then(function (res) {
                        this.urls = res.data
                    }.bind(this));
        },
        watch: {

        }


    }
</script>

