<template>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><router-link to='/' class='text-dark'>Tanguro database</router-link></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                <ds-drop title="Links" data="https://dashboard.projetotanguro.org/datset/menu_url?key=tangurodarroteste" ></ds-drop>
            </ul>
        </nav>
        <a class="btn btn-outline-primary" href="https://dashboard.projetotanguro.org" target="_blank" >Sign up</a>
    </div>

</template>
<script>

    export default {
        data() {
            return {
                urls: null
            }
        },
        mounted() {
            this.$http
                    .get('https://dashboard.projetotanguro.org/datset/menu_url?key=tangurodarroteste')
                    .then(response => (this.urls = response.data));
        }

    }
</script>
