<template>
    <div class="p-3">
        <h4 v-if="title" class="font-italic">{{title}}</h4>

        <ol v-for='l1 in urls' class="list-unstyled mb-0">
            <li v-on:click="menu_drop(['my_menu_1_'+l1.id])">
            <router-link class="text-dark" :to="l1.id?l1.url+l1.id:l1.url" >{{l1.short_name?l1.short_name:l1.name}}</router-link>

            <ol  v-for='l2 in l1.submenu' :class="'list-unstyled mb-0 my_menu my_menu_1_'+l1.id" style="padding-left: 8%; display:none">
                 <li v-on:click="menu_drop(['my_menu_1_'+l1.id,'my_menu_2_'+l2.id],true)">
                <router-link :to="l2.id?l2.url+l2.id:l2.url" >{{l2.short_name?l2.short_name:l2.name}}
                </router-link>
                <ol v-for='l3 in l2.submenu' :class="'list-unstyled mb-0 my_menu my_menu_2_'+l2.id" style="padding-left: 8%; display:none">

                    <router-link v-if="l3.short_name" :to="l3.id?l3.url+l3.id:l3.url" >{{l3.short_name?l3.short_name:l3.name}}


                    </router-link>
                </ol>
                </li>
            </ol>
            </li>
        </ol>
    </div>


</template>
<script>

    export default {
        props: ['title', 'data'],
        data() {
            return {

                urls: null,
                block:false
            };
        },
        methods: {
            menu_drop(id, block = false) {
               // console.log(id,block,this.block)
                if (!this.block) {
                 //   console.log('aq')
                    var all = document.getElementsByClassName('my_menu')
                    var i;
                    for (i = 0; i < all.length; i++) {
                        all[i].style.display = 'none';
                    }
                    for (var j = 0; j < id.length; j++) {
                        var myel = document.getElementsByClassName(id[j])
                        for (i = 0; i < myel.length; i++) {
                            myel[i].style.display = 'block';
                        }
                    }
                    this.block = block
                }else{
                    this.block = false
                }

            }
        },
        mounted() {
            this.$http.get(this.data)
                    .then(function (res) {
                        this.urls = res.data
                    }.bind(this));
        },
        watch: {

        }


    }
</script>



