<template>
    <div id="app" >
        <ds-header></ds-header>
        <div class="container">
            <router-view />


        </div>
        <footer class="blog-footer">
            <p>
                Developed by <a href="https://jairomr.com.br/">JairoMR</a>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </div>
</template>


<script>
    export default {
        name: 'app',
        data() {
            return {
                
            }
        },
        mounted(){
             this.title_app()
        },
        methods: {
            title_app(){
                if(this.$route.params.info){
                 document.title = this.$route.meta.title + ' ' +
                        this.$route.params.info.toString().toLocaleUpperCase();
                }else{
                  document.title = this.$route.meta.title +' '
                }
            }
        },
        watch: {
            $route(to, from) {

                this.title_app()
            }
        }
    }

</script>

<style lang="scss">
    @import './assets/styles/variables';
    @import './assets/styles/bootstrap';
</style>
